body {
  background: lightblue;
}
.main-container {
  width: 1000px;
  height: 800px;
  background: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px;
}
.rightsideinput {
  width: 500px;
  height: 800px;
  background: rgb(190, 190, 177);
}
.leftsideinput {
  width: 500px;
  height: 800px;
}
.flex {
  display: flex;
}
.flex > p {
  font-size: 26px;
  width: 200px;
  border: 1px solid red;
  color: white;
}
.flex > input {
  border-radius: 2px;
  border: none;
  font-size: 16px;
}
.rightbtn > button {
  width: 350px;
  height: 50px;
  font-size: 24px;
  margin-left: 70px;
  color: black;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 20px 20px;
}
.leftsideheading > p {
  margin-left: 60px;
  font-size: 36px;
  color: blue;
}
.leftsidesecond > p {
  font-size: 24px;
  color: black;
}
.leftsidesecond > input {
  font-size: 24px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}
.leftsidesecond > button {
  width: 350px;
  height: 50px;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  color: black;
}
